<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en" >
<head>
    <% include partials/head %>
</head>
<body class="loggedin-body">
    <div class="">
        <header class="header header-loggedin">
            <div class="container">
                <% include partials/loggedin_header.ejs %>
            </div>
        </header>
    </div>


    <main class="main-content main-content-loggedin">
        <!-- Page content goes here -->

        <div class="container">
            <% include partials/user_profile %>
        </div>
        <div class="container">
            <% include partials/user_profile_form0 %>
        </div>
        <div class="container">
            <% include partials/user_profile_form1 %>
        </div>
        <div class="container">
            <% include partials/user_profile_form2 %>
        </div>
        <div class="container">
            <% include partials/user_profile_form3 %>
        </div>

        <div class="container">
            <% var block_id= 'public'; %>
            <% var messageBlockTitle= ''; %>
            <% include partials/public_chat_content %>
        </div>
        <div class="container">
            <% var block_id= 'private'; %>
            <% var messageBlockTitle= ''; %>
            <% include partials/public_chat_content %>
        </div>
        <div class="container">
            <% var block_id= 'announcement'; %>
            <% var messageBlockTitle= 'Previous Announcements'; %>
            <% include partials/public_chat_content %>
        </div>
        <div class="container">
            <% include partials/user_list %>
        </div>
        <div class="container">
            <% include partials/status-selection-popup %>
            <% include partials/spam-form-popup %>
        </div>
        <div class="container">
            <% include partials/resources %>
        </div>
        <div class="container">
            <% include partials/resources_list_show %>
        </div>

        <div class="container">
            <% include partials/emergency_status_detail %>
        </div>

        <div class="container">
            <% include partials/sign_out_popup %>
        </div>


        <!-- END OF CONTENT -->
    </main>

    <footer class="footer">
        <% include partials/footer %>
    </footer>


    <div class="boxloader" id="boxloader">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <p>&nbsp;</p>
    </div>


<% include partials/global_stylesheets %>
<% include partials/external_global_scripts %>

<%if (settings.env === 'development') { %>

    <!-- Scripts at the bottom for better performance -->
    <% include partials/global_scripts %>


    <!-- LOCAL SCRIPTS -->

    <script src="<%= '/javascripts/baseMessage.js?v=' + versionedAssets %>"></script>
    <script src="<%= '/javascripts/chat.js?v=' + versionedAssets %>"></script>
    <script src="<%= '/javascripts/privateChat.js?v=' + versionedAssets %>"></script>
    <script src="<%= '/javascripts/announcements.js?v=' + versionedAssets %>" ></script>
    <script src="<%= '/javascripts/user.js?v=' + versionedAssets %>" ></script>
    <script src="<%= '/javascripts/userList.js?v=' + versionedAssets %>"></script>
    <script src="<%= '/javascripts/userProfile.js?v=' + versionedAssets %>"></script>
    <script src="<%= '/javascripts/userProfileForm.js?v=' + versionedAssets %>"></script>
    <script src="<%= '/javascripts/signup.js?v=' + versionedAssets %>"></script>
    <script src="<%= '/javascripts/signout.js?v=' + versionedAssets %>"></script>
    <script src="<%= '/javascripts/status_selection_popup.js?v=' + versionedAssets %>"></script>
    <script src="<%= '/javascripts/spam_form_popup.js?v=' + versionedAssets %>"></script>
    <script src="<%= '/javascripts/resources.js?v=' + versionedAssets %>"></script>
    <script src="<%= '/javascripts/resources_list.js?v=' + versionedAssets %>"></script>
    <script src="<%= '/javascripts/emergency_status_detail.js?v=' + versionedAssets %>"></script>


<% } else { %>
    <!-- Scripts at the bottom for better performance -->
    <script src="<%= '/javascripts/prod/application.js?v=' + versionedAssets %>"></script>
<% }  %>




</body>
</html>
